@use "variables" as *

@mixin transform($property)
  -webkit-transform: $property
  -ms-transform: $property
  transform: $property

@mixin transition($transition)
  -webkit-transition: $transition
  -moz-transition: $transition
  -ms-transition: $transition
  -o-transition: $transition
  transition: $transition

// MEDIA QUERIES

@mixin smartphone
  @media (width < #{$tablet-width}) , (height < #{$tablet-width})
    @content

@mixin tablet
  @media (#{$tablet-width} < width < #{$desktop-width}) and (height > #{$tablet-width})
    @content

@mixin desktop
  @media (width > #{$desktop-width}) and (height > #{$tablet-width})
    @content

@mixin rounded
  width: 150px
  height: 150px
  border-radius: 50%