<div class="icon" style="width: {{.size}};height: {{.size}};">
  {{ if eq .iconName "calendar"}}
  <i class="fa-regular fa-calendar-check" style="width: {{.size}}; height: {{.size}}; font-size: {{.size}};"></i>
  {{ else if eq .iconName "clock"}}
  <i class="fa-regular fa-clock" style="width: {{.size}}; height: {{.size}}; font-size: {{.size}};"></i>
  {{ else if eq .iconName "glasses" }}
  <i class="fa-regular fa-glasses" style="width: {{.size}}; height: {{.size}}; font-size: {{.size}};"></i> 
  {{ else if eq .iconName "pencil" }}
  <i class="fa-solid fa-pencil" style="width: {{.size}}; height: {{.size}}; font-size: {{.size}};"></i> 
  {{ else if eq .iconName "hyperlink" }}
  <i class="fa-solid fa-link" style="width: {{.size}}; height: {{.size}}; font-size: {{.size}};"></i> 
  {{ else if eq .iconName "tech" }}
  <i class="fa-solid fa-laptop-code" style="width: {{.size}}; height: {{.size}}; font-size: {{.size}};"></i> 
  {{ else if eq .iconName "read" }}
  <i class="fa-solid fa-book-open" style="width: {{.size}}; height: {{.size}}; font-size: {{.size}};"></i> 
  {{ else if eq .iconName "tag"}}
  <i class="fa-solid fa-tag" style="width: {{.size}}; height: {{.size}}; font-size: {{.size}};"></i> 
  {{ else if eq .iconName "email"}}
	<i class="fa-regular fa-envelope"  style="width: {{.size}}; height: {{.size}}; font-size: {{.size}};"></i> 
  {{ else if eq .iconName "github" }}
  <img src="/svg/github-mark-white.svg" width="{{.size}}" height="{{.size}}" style="object-fit: contain;" alt="GitHub">
  {{ else if eq .iconName "linkedin" }}
  <img src="/svg/LinkedIn_icon.svg" width="{{.size}}" height="{{.size}}", style="object-fit: contain;" alt="LinkedIn">
  {{ else if eq .iconName "googlescholar" }}
  <img src="/svg/Google_Scholar_logo.svg" width="{{.size}}" height="{{.size}}" style="object-fit: contain;" alt="Google Scholar">
  {{ else if eq .iconName "researchgate" }}
  <img src="/svg/ResearchGate_icon_SVG.svg" width="{{.size}}" height="{{.size}}" style="object-fit: contain;" alt="ResearchGate">
  {{ else if eq .iconName "orcid" }}
  <img src="/svg/ORCID_iD.svg" width="{{.size}}" height="{{.size}}" style="object-fit: contain;" alt="ORCID">
  {{ else if eq .iconName "inspirehep" }}
  <img src="/svg/inspireHEP.svg" width="{{.size}}" height="{{.size}}" style="object-fit: contain;" alt="inspireHEP">
  {{end}}
</div>

