<link 
    rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/katex@{{ .Site.Params.KaTeX.version }}/dist/katex.min.css"
		integrity="{{ .Site.Params.KaTex.css_integrity }}"
		crossorigin="anonymous"
    referrerpolicy="no-referrer">

<script
    defer
		src="https://cdn.jsdelivr.net/npm/katex@{{ .Site.Params.KaTeX.version }}/dist/katex.min.js"
		integrity="{{ .Site.Params.KaTex.js_integrity }}"
		crossorigin="anonymous"
    referrerpolicy="no-referrer"
    type="text/javascript"></script>

<script
    defer
		src="https://cdn.jsdelivr.net/npm/katex@{{ .Site.Params.KaTeX.version }}/dist/contrib/auto-render.min.js"
		integrity="{{ .Site.Params.KaTex.auto_render_integrity }}"
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    type="text/javascript"></script>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      delimiters: [
        {left: "$$", right: "$$", display: true},
        {left: "\\[", right: "\\]", display: true},
        {left: "$", right: "$", display: false},
        {left: "\\(", right: "\\)", display: false},
      ],
    });
  });
</script>
