<div class="icon">
  {{ if eq .iconName "github" }}
  <img src="/svg/github-mark-white.svg" width="{{.size}}", height="{{.size}}", style="object-fit: contain;">
  {{ else if eq .iconName "linkedin" }}
  <img src="/svg/LinkedIn_icon.svg" width="{{.size}}", height="{{.size}}", style="object-fit: contain;">
  {{ else if eq .iconName "googlescholar" }}
  <img src="/svg/Google_Scholar_logo.svg" width="{{.size}}", height="{{.size}}", style="object-fit: contain;">
  {{ else if eq .iconName "researchgate" }}
  <img src="/svg/ResearchGate_icon_SVG.svg" width="{{.size}}", height="{{.size}}", style="object-fit: contain;">
  {{ else if eq .iconName "orcid" }}
  <img src="/svg/ORCID_iD.svg" width="{{.size}}", height="{{.size}}", style="object-fit: contain;">
  {{ else if eq .iconName "inspirehep" }}
  <img src="/svg/inspireHEP.svg" width="{{.size}}", height="{{.size}}", style="object-fit: contain;">
  {{end}}
</div>
